<div class="card flex justify-content-center">
  <p-autoComplete [(ngModel)]="selectedRequest" [dropdown]="true" [suggestions]="filteredRequestTypes"
    [placeholder]="'Select Request Type'" (completeMethod)="filterRequestTypes($event)"
    (onSelect)="getResponseByRequestType()" field="requestTitle">
  </p-autoComplete>
  <p-button label="Reset" styleClass="p-button-secondary" icon="pi pi-refresh" class="ml-4" (onClick)="resetRequest()">
  </p-button>
</div>
<div *ngIf="!isSampleDataEmpty">

  <div class="card" *ngFor="let item of sampleResponse$|async">
    <p-fieldset [toggleable]="true" class="m-6">
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-code mr-2"></span>
          <span class="font-bold text-lg text-primary bg-danger">Basic Details</span>
        </div>
      </ng-template>
      <div class="text-600  ">
        <h4>Title:</h4>
        {{item.title}}
        <h4>Request Type: </h4>
        {{item.type}}
        <h4>URL: </h4>
        {{item.url}}
      </div>
    </p-fieldset>

    <p-fieldset [toggleable]="true" class="m-6">
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-paperclip mr-2"></span>
          <span class="font-bold text-lg text-primary bg-danger">Sample Body</span>
        </div>
      </ng-template>
      <div class="text-600  ">
        <ng-container *ngIf="item.body;else noBodyRequired">
          <pre>{{item.body|json}} </pre>
        </ng-container>
      </div>
    </p-fieldset>

    <p-fieldset [toggleable]="true" class="m-6 ">
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-file mr-2"></span>
          <span class="font-bold text-lg text-primary bg-danger">Sample Response</span>
        </div>
      </ng-template>
      <div class="text-600">
        <pre>{{item.response |json}}</pre>
      </div>
    </p-fieldset>

    <p-fieldset [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
          <span class="pi pi-id-card mr-2"></span>
          <span class="font-bold text-lg text-primary bg-danger">Sample Model</span>
        </div>
      </ng-template>
      <div class="text-600  ">
        <pre>{{item.model|json}}</pre>
      </div>
    </p-fieldset>
  </div>

  <ng-template #noBodyRequired>
    <h5>This Request doesn't require any body params to pass.</h5>
  </ng-template>
</div>


<!-- <div *ngIf="!isSampleDataEmpty">
  <div class="my-3 container border-black border-1" *ngFor="let item of sampleResponse$|async">
    <div class="text-bg-secondary p-4 mb-2">
      <h4>Title:</h4>
      {{item.title}}
      <h4>Request Type: </h4>
      {{item.type}}
      <h4>URL: </h4>
      {{item.url}}
    </div>

    <div class="text-bg-secondary p-4 mb-2">
      <h4>Sample Body:</h4>
      <ng-container *ngIf="item.body;else noBodyRequired">
        <pre>{{item.body|json}} </pre>
      </ng-container>
    </div>

    <div class="text-bg-secondary p-4 mb-2">
      <h4>Sample Response:</h4>
      <pre>{{item.response |json}}</pre>
    </div>

    <div class="text-bg-secondary p-4">

      <h4> Sample Model</h4>
      <pre>{{item.model|json}}</pre>
    </div>

    <ng-template #noBodyRequired>
      <h5>This Request doesn't require any body params to pass.</h5>
    </ng-template>
  </div>
</div> -->
